<template>
    <div class="row">
        <div class="col-md-6">
            <form v-on:submit="createMaze">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="maze-player-name">Player Name</label>
                        <div class="col-10">
                            <input v-model="data.maze_player_name" type="text" required
                                   class="form-control" id="maze-player-name">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="maze-width">Maze Width</label>
                        <input v-model="data.maze_width" type="number" required
                               class="form-control" id="maze-width">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="maze-height">Maze Height</label>
                        <input v-model="data.maze_height" type="number" required
                               class="form-control" id="maze-height">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="difficulty">Difficulty</label>
                        <input v-model="data.difficulty" type="number" required
                               class="form-control" id="difficulty">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <button type="submit" class="btn btn-primary">
                            Start New Game
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6" style="height: 200px; background-color: lightgrey">
            <div v-if="createStatus" class="form-row">
                <br/>
                <p style="color: red; font-size: 16px;">{{ createStatus }}</p>
            </div>
        </div>
    </div>
</template>

<script src="./home.ts"></script>