.maze {
    border-right: 1px solid #0000ff;
    border-bottom: 1px solid #0000ff;
    margin: 0 auto;
}
.row-controllers {
    margin: auto;
    max-width: 140px;
}
.controllers {
    font-size: 30px;
}
.maze-row {
    height: 30px;
    width: 30px;
    text-align: center;
}
.north {
    border-top: 1px solid #0000ff;
}
.west {
    border-left: 1px solid #0000ff;
}

.rulles {
    text-align: center;
    font-weight: bold;
    border: 1px solid #0000ff;
    padding: 10px;
    margin-bottom: 30px;
}