<template>
    <table v-if="mazeData.data" class="maze">
        <tbody>
        <tr v-for="height in mazeData.size[1]">
            <td v-for="width in mazeData.size[0]"
                class="maze-row"
                v-bind:class="mazeData.data[((height-1)*mazeData.size[0]+width-1)]">

                    <span v-if="mazeData.pony == ((height-1)*mazeData.size[0]+width-1)"
                          class="glyphicon glyphicon-king"></span>

                <span v-else-if="mazeData.domokun == ((height-1)*mazeData.size[0]+width-1)"
                      class="glyphicon glyphicon-bishop"></span>

                <span v-else-if="mazeData.end_point == ((height-1)*mazeData.size[0]+width-1)"
                      class="glyphicon glyphicon-log-out"></span>

                <span v-else>&nbsp;</span>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script src="./maze.ts"></script>