<template>
    <div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="rulles">
                    <span>&nbsp;
                        {{ moveResult.state_result }}
                    </span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <table v-if="mazeData.data" class="maze">
                    <tbody>
                        <tr v-for="height in mazeData.size[1]">
                            <td v-for="width in mazeData.size[0]"
                                class="maze-row"
                                v-bind:class="mazeData.data[((height-1)*mazeData.size[0]+width-1)]">
        
                                <span v-if="mazeData.pony == ((height-1)*mazeData.size[0]+width-1)">
                                    <img width="20" height="20" src="../../../images/pacman.png">
                                </span>
        
                                <span v-else-if="mazeData.domokun == ((height-1)*mazeData.size[0]+width-1)">
                                    <img width="20" height="20" src="../../../images/ghost.png">
                                </span>
        
                                <span v-else-if="mazeData.end_point == ((height-1)*mazeData.size[0]+width-1)">
                                    <img width="20" height="20" src="../../../images/cherry.png">
                                </span>
        
                                <span v-else>
                                    <img width="20" height="20" src="../../../images/empty.png">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!--<div class="col-sm-6">
            <div style="border: 1px solid lightgrey; min-height:200px; text-align: center">
                <div style="background-color: darkgrey; color: red; padding: 20px;">
                    <span>&nbsp;
                        {{ moveResult.state_result }}
                    </span>
                </div>
                
                <div style="padding: 20px; text-align: left">
                    <img width="20" height="20" src="../../../images/pony.png"> You
                    <br/>
                    <img width="20" height="20" src="../../../images/domokun.png"> Domo Kun
                    <br/>
                    <img width="20" height="20" src="../../../images/end.png"> Your Goal!!
                </div>
                
                <div class="controllers">
                    <div>
                        <a @click="movePony('north')">
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </div>
                    <div>
                        <a @click="movePony('west')">
                            <span class="glyphicon glyphicon-triangle-left"></span>
                        </a>
                        <a @click="movePony('stay')">
                            <span class="glyphicon glyphicon glyphicon-user"></span>
                        </a>
                        <a @click="movePony('east')">
                            <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                    </div>
                    <div>
                        <a @click="movePony('south')">
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                    </div>
                </div>
                <div style="padding: 20px;">
                    use controllers or keyboard (up, down, left, right and space)
                </div>
            </div>
        </div>-->
    </div>
</template>

<script src="./maze.ts"></script>
<style src="./maze.css"></style> 