.maze {
    border-right: 1px solid #0000ff;
    border-bottom: 1px solid #0000ff;
    margin: 0 auto;
}
.maze-row {
    height: 30px;
    width: 30px;
    text-align: center;
}
.north {
    border-top: 1px solid #0000ff;
}
.west {
    border-left: 1px solid #0000ff;
}

.rulles {
    text-align: center;
    font-weight: bold;
    border: 1px solid #0000ff;
    padding: 10px;
    margin-bottom: 30px;
}

.row-controllers {
    text-align: center;
    font-weight: bold;
    border: 1px solid #0000ff;
    padding: 10px;
    margin-top: 30px;
}
.row-controllers > a {
    color: #ffffff;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
}